button {
  border: none;
  inline-size: 30px;
  block-size: 30px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  /* height: ; */
}
.button:active {
  transform: scale(0.9);
}
#backward {
  background-image: url(/images/-10.svg);
}
#forward {
  background-image: url(/images/+10.svg);
}
#play {
  background-image: url(/images/play.svg);
}
#pause {
  background-image: url(/images/pause.svg);
}
