

/* Buttons */

.playerActions>.button {
  border: none;
  inline-size: 30px;
  block-size: 30px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.button:active {
  transform: scale(0.9);
}
#backward {
  background-image: url(../images/-10.svg);
  z-index: 3;
}
#forward {
  background-image: url(../images/+10.svg);
}
#play {
  background-image: url(../images/play.svg);
}
#pause {
  background-image: url(../images/pause.svg);
}
/* @import url(/css/Button.css); */

/* Problemas en GitHUb para importar otros archivos Css */
:root {
  --Primary: #43dde6;
  --White: #a3a3a3;
}
*{margin: 0;}
body {
  color: var(--White);
  background-color: var(--Primary);
}
.wrapper{
  max-inline-size: 900px;
  margin: 0 auto;
}
.player{
  margin: 20px;
  position: relative;
}
.player-title{
  color: var(--White);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
  margin-top: 20px;
  text-decoration: underline;
  
}
.playerActions{
position: absolute;
inset: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
gap: 10px;
}
.player video {
  /*  height: 200px; */
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  }

.player-progress{
  position:absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
}
.player-progress input{
  flex: 1;
  z-index: 2;
}
.player_overlay{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .4s opacity;
  z-index: 1;
}
.player .player_overlay:hover{
  opacity: 1;
}
